*#
.#*
*~
/.gradle/
build
/.idea/
/out/
target/
*.ipr
*.iml
*.iws
.settings
.classpath
.project
.springBeans
/gradle/
.cache
spring-boot-javafx/.idea
/bin/


bin
project
target
*.db

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

