
<!-- <div ng-controller="TodoListController as todoList"> -->
<div class="container">
	
	<p>
		<ul><li class="label label-primary" style="margin-left:2px;" ng-click="filterText(k)" ng-repeat="(k,v) in typeCounts"> {{k}} - {{v}} </li><ul>
	</p>
	<p>
		<label> Search: <input ng-model="searchText"></label>
	</p>
</div>
<div class="container">
	<table class="table table-striped table-bordered">
		<thead>
			<tr class="warning">
				<td>Source subreddit</td>
				<td>Title</td>
				<td>User</td>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="todo in todos | filter:searchText">
				<td class="info">{{ todo.src }}</td>
				<td><a ng-href="#/chart/{{todo.id}}" >{{ todo.title }}</a></td>
				<td class="success">{{ todo.user }}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- </div> -->